* {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    align-items: flex-start;
    border: 2px solid black;
    margin: 5px 300px 5px 300px;
    padding: 4px;
    flex-direction: column;
}

#table {
    border: 2px solid black;
    margin: 5px;
}

tr, td, th {
    border: 2px solid black;
    margin: 5px;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#btn {
    margin: 5px;
}

#submit {
    margin: 5px;
}

@media(max-width: 400px) {
    div {
        margin: 5px;
    }
}